<div ng-include="'components/navbar/navbar.html'"></div>


<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer> -->

<div class="container-fluid">

<div ng-include="'components/sidebar/sidebar.html'"></div>

<div ng-controller = "MainCtrl as main"> <!-- MainCtrl is for Places-to-go -->

  <div id="placesToGo"> <!-- this is displayed when first logging on,
    but is hidden when looking at your own posts or a friend's posts-->
    <div class="col-md-9 col-lg-9" id="map-container">
      <div class = "map-canvas" id="map-canvas">
      </div>


    <form name="placeForm" ng-submit="main.addPlace()" novalidate>
      Enter a Place-to-Go<br/>
      Place (country, city, specific museum, national park, etc.):<br/>
      <input type="text"  name = "place" size="30" maxlength="30"><br/>
      Geographic location (country, city and country, or more specific):<br/>
      <input type="text" name = "address" size="50" maxlength="50"><br/>
      Comment:<br/>
      <textarea name = "comment" rows="4" cols="35" maxlength="140">
      </textarea><br/>
      <input id="savePlaceButton" class="btn btn-primary" type ="submit" id="savePlaceButton" value="Submit">
    </form>

    <div>
      <h2>My Places-to-Go</h2>  
      <div ng-repeat="place in main.myPlacesList">
      <span>{{place.month}}-{{place.day}}</span>
      <span class="place">{{place.location}}</span><br/>
      <span>{{place.text}}</span><br/>
    </div>
  </div> <!-- end map container -->

<!-- unnecessary, because google maps script can just directly iterate through locations data in main.js
    <div id="myLocationsList">
         <input id="location{{loop.index}}" type="hidden" data-place="{{aPlace.place}}" data-latitude ="{{aPlace.latitude}}" data-longitude="{{aPlace.longitude}}">
    </div>
-->

  </div> <!-- end placesToGo -->

  <div> <!--  end MainCtrl (PlacesToGo) -->

  </div> <!-- end container -->
