
<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/sidebar/sidebar.html'"></div>

<div ng-controller = "MypostsCtrl as mpCtrl">

  <div class="col-md-9" id="myPosts"> <!-- this is displayed when looking at your own posts,
  and also has the entry form for making new posts -->

    <div ng-repeat="post in mpCtrl.userPosts" ng-init="postId = post._id;">
      <span class="date">{{post.date | date}}</span>
    <!-- <img> -->
      <span class="caption">{{post.caption}}</span>
      <div class="imageDiv">
         <img ng-src="{{post.imageLink}}"/>
      </div>
      <button class="btn btn-xs" ng-click="mpCtrl.removePost(postId)">X</button>
    </div>

  <button ng-click="mpCtrl.accessInstagram()">Get Instagram photos</button>
 
    <div ng-repeat="image in mpCtrl.instagramImages">
         <img ng-src="{{image.imageLink}}"/>
         <span>{{image.caption}}</span>
         <button ng-click="mpCtrl.addPost(image.imageLink, image.caption)">Post this to Travel Photos<button>
    </div>

  </div> <!--  end myPosts -->

  </div> <!--  end mpCtrl -->
