

@media (min-width: 1336px) {
  .aclear {
    clear: both
  }

  lowres-photo:nth-child(4) {
    @extend .aclear;
  }

  thumbnail-photo:nth-child(7) {
    @extend .aclear;
  }
}

@media (min-width: 524px) and (max-width: 1335px) {
  .bclear {
    clear: both;
  }

  /* default is that every third photo
  should have clearfix class */
  lowres-photo:nth-child(2n + 1) {
      @extend .bclear;
  }

  thumbnail-photo:nth-child(3n + 1) {
      @extend .bclear;
  }
}

@media (max-width: 523px) {
  .cclear {
    clear: both;
  }

  thumbnail-photo:nth-child(2n + 1) {
      @extend .cclear;
  }
}


.photo {
  float: left;
}

.photoContainer {
  clear: both;
  float: left;
}

#myPosts .btn {
  float: left;
}

.postedPhotos {
  margin-bottom: 30px;
}

#instagramButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

.photoHeader {
  position: relative;
  margin-bottom: 5px;
}

.photoHeader {
  
  button {
    position: absolute;
    top: 6px;
    left: 93%;
  }

  h5 {
    width: 95%;
  }
}

#myPosts {
  margin-bottom: 30px;
}

@media (min-width: 415px) {
  .smallThumbnail, .placesToGoThumbnail {
    width: 150px;
    margin-right: 10px;
  }
  .photo {
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .bigThumbnail {
    width: 306px;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .bigThumbnail.photo {
    margin-right: 0px;
  }
}
