
<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/sidebar/sidebar.html'"></div>

<div ng-controller = "MypostsCtrl as mpCtrl">

  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" id="myPosts"> <!-- this is displayed when looking at your own posts,
  and also has the entry form for making new posts -->
    
    <div id="retrieveInstagramPhotos" class="photoContainer">
      <button class="btn btn-primary" ng-show="mpCtrl.isInstagramUser && !mpCtrl.alreadyAccessedInstagram" ng-click="mpCtrl.accessInstagram()">View 10 most recent Instagram photos</button>
      <button class="text-info" ng-show="mpCtrl.alreadyAccessedInstagram && !mpCtrl.noMoreImages" ng-click="mpCtrl.accessInstagram(mpCtrl.next_max_id)"><em>Show more images</em></button>
    </div>

    <div class="photoContainer">
      <h3 ng-show="mpCtrl.alreadyAccessedInstagram">Posted on Instagram:</h3>

      <div class="innerThumbnailContainer">
        <thumbnail-photo ng-hide="hideThumbnail" class = "photo thumbnail smallThumbnail col-xs-6 col-sm-3 col-md-3 col-lg-3" ng-repeat="image in mpCtrl.thumbnailImages">

        </thumbnail-photo>
      </div>
    
    </div>
    
    <div class="photoContainer postedPhotos">
      <h3>Posted on Travel Photos from Instagram:</h3>
      <div class="innerPhotoContainer">
        <lowres-photo class = "photo thumbnail bigThumbnail col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="i in mpCtrl.returnArray(mpCtrl.displayNum)">

        </lowres-photo>
      </div>
    </div>

    <div class="clearfix"> </div>

    <button ng-show="mpCtrl.userPosts.length > mpCtrl.displayNum" class="btn btn-primary" ng-click="mpCtrl.increaseDisplayNum()">See more photos</button>

  </div> <!--  end myPosts -->

  </div> <!--  end mpCtrl -->
