<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id = "friendsColumn" ng-controller="FriendslistCtrl as flCtrl">
  <div class="">
      <div ng-show="flCtrl.myFriendsList.length" id ="clickinfo">
        Click on a friend's username to see their photos.
       </div>
       <div ui-sortable="flCtrl.sortableOptions" ng-model="flCtrl.myFriendsList">
         <div ng-repeat="friend in flCtrl.myFriendsList" class="friendInList">
           <div class="friendName"> 
            <button class="btn btn-xs" ng-click="flCtrl.removeFriend(friend.name)">X</button>
            <a class="h4" ui-sref="friendPosts({friendName: friend.name})">{{friend.name}}</a>
            <div ng-show="friend.uncheckedPost" class="greendot"></div>
           </div>
         </div> <br/>
       </div>


        <label for="friendSearch" >Choose a Friend to Follow</label>
        <div class = "ui-widget">
          <input id="friendSearch" type="text" name="friend" size="30" maxlength="30"><br/>
        </div>
   
  </div> <!-- end friendsColumn -->

</div> <!-- end friendsListCtl -->