  <!-- inner container needed in order to give
  relative positioning, so remove button can 
  have absolute positioning -->
  <div class="placesToGoInnerContainer ">
    <span>{{place.date | date}}</span> <br/>
    <a ng-if="place.instagramLink" ng-href="{{place.instagramLink}}" target="_blank">
      <span class="place">{{place.location}}</span>
    </a> 
    <span ng-if="!place.instagramLink" class="place">{{place.location}}</span> 
    <br/> 
    <span>{{place.text}}</span> </br>
    <button class="btn btn-xs removeButton" ng-click="main.removePlace(place._id)">X</button>
  </div>