
.geoTagButton {
	margin-left: auto;
	margin-right: auto;
}


@media (min-width: 768px) {
	.geoTagButton {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.geoTagButton {
		width: 306px;
    }
}

@media (max-width: 340px) {
	.geoTagButton {
		width: 280px;
    }
}

.geoTagButton button {
	width: 100%;
}

