

@media (min-width: 768px) {
	.geoTagButton {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.geoTagButton {
		width: 306px;
		margin-left: auto;
		margin-right: auto;
    }
}

.geoTagButton button {
	width: 100%;
}

