
@media (min-width: 900px) and (max-width: 1329px) {
  .clear {
    clear: both;
  }

  /* default is that every third photo
  should have clearfix class */
  lowres-friendphoto:nth-child(2n+1) {
      @extend .clear;
  }
}


@media (min-width: 1330px) {
  .clear2 {
    clear: both
  }

  lowres-friendphoto:nth-child(4) {
    @extend .clear2;
  }
}


.photo {
  float: left;
}

.photoContainer {
  clear: both;
  float: left;
}

.postedPhotos {
  margin-bottom: 30px;
}

#instagramButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

.photoHeader {
   position: relative;
   margin-bottom: 5px;
}

.photoHeader button {
  position: absolute;
  top: 6px;
  left: 93%;
}

#friendsPosts {
  margin-bottom: 30px;
}

#friendsPosts .btn{
  float: left;
}

@media (min-width: 415px) {
  .smallThumbnail, .placesToGoThumbnail {
    width: 150px;
    margin-right: 10px;
  }
  .photo {
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .bigThumbnail {
    width: 306px;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .bigThumbnail.photo {
    margin-right: 0px;
  }
}
